   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
   }
   .backgroundImage{
        background-image: url("Filter\ 2.jpg");
        background-repeat: no-repeat;
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_bars{
        position: absolute;
        border-radius: 30px;
        padding: 20px;
        height: 78vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: justify;
        -webkit-backdrop-filter:blur(2px);
        backdrop-filter: blur(2px);
        background-color: rgba(177, 177, 177, 0.5);
        box-shadow: 7px 7px 9px rgb(148, 148, 148);
        transition:background-color 2s ease, backdrop-filter 2s ease, box-shadow 2s ease;
    }
    .search_bars:hover{
        background-color: rgba(57, 57, 57, 0.5);
        backdrop-filter: blur(5px);
        box-shadow: 7px 7px 9px rgba(57, 57, 57, 0.5);
    }
   .manual_search{
        display: flex;
        height: 25vh;
        width: calc(100% - 16px);
        backdrop-filter: blur(1px);
        border-bottom: 2px solid black;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 17px;

    }
   input[name="search"]{
        height: 6vh;
        width: 45vw;
        border-radius: 17px;
        border: 2px solid rgb(245, 244, 244);
        backdrop-filter: blur(1px);
        font-family:sans-serif;
        color: aliceblue;
        font-size:2vw;
        padding-left: 4px;
        background-color: transparent;
        
    } 
    @media(max-width: 600px){
        input[name="search"]{
            font-size: 12px;
        }

    }
    @media(min-width: 1200px){
        input[name="search"]{
            font-size: 24px;
        }
        select[name="province"]{
            width: 25%;
        }
    }
    @media(min-width: 768px){
        select[name="province"]{
            width: 75%;
        }
    }
    @media(min-width: 992px){
       select[name="province"]{
            width: 50%;
        }
    }
    input::-webkit-input-placeholder{
        color:aliceblue;
    }
    
  
    #search_image{
        float: right;
        margin-left: 4px;
       
    }
    input[name="search_button"]{
        height:6vh;
        width: 6vh;
        border: 2px solid rgb(250, 249, 249);
        margin: auto;
        border-radius:50%;
        transition: background-color 1s ease;
    }
    input[name="search_button"]:hover{
        background-color:aliceblue;
    }
    .advanced_search{
        flex-grow: 1;
        display: flex;
        margin: auto;
        backdrop-filter: blur(1px);
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 17px;
        border-bottom: 3px solid black;
        width: calc(100% - 29px);
        height: 33vh;
        align-items: center;
        justify-content: space-around;
        transition: background-color 1s ease;
    }
    .advanced_search:hover{
        backdrop-filter: blur(6px);
       
        
    }
    select[name="province"]{
        border-radius: 20px;
        background-color: transparent;
        color: rgb(180, 3, 3);
        border: 2px solid whitesmoke;
        width: 50vw;
        height: 5vh;
        padding: 2px;
        position: relative;
        overflow: hidden;
        font-weight: bold;

    }
    select[name="province"] select{
        width: 50vw;
        border: none;
        box-shadow: non;
        background-color: rgb(145, 236, 163);
        padding: 10px;
        font-size: 16px;
        color: rgb(17, 17, 18);
        cursor: pointer;
        outline: none;
    }
    select[name="district"]{
        border-radius: 20px;
        background-color: transparent;
        color: rgb(180, 3, 3);
        border: 2px solid whitesmoke;
        width: 40vw;
        height: 5vh;
        padding: 2px;
        position: relative;
        overflow: hidden;
        font-weight: bold;
        
    }
    select[name="district"] select{
        width: 40vw;
        border: none;
        box-shadow: non;
        background-color: rgb(145, 236, 163);
        padding: 10px;
        font-size: 16px;
        color: rgb(17, 17, 18);
        cursor: pointer;
        outline: none;
    }
    select[name="city"]{
        border-radius: 20px;
        background-color: transparent;
        color: rgb(180, 3, 3);
        border: 2px solid whitesmoke;
        width: 30vw;
        height: 5vh;
        padding: 2px;
        position: relative;
        overflow: hidden;
        font-weight: bold;
    }
    select[name="city"] select{
        width: 30vw;
        border: none;
        box-shadow: non;
        background-color: rgb(145, 236, 163);
        padding: 10px;
        font-size: 16px;
        color: rgb(17, 17, 18);
        cursor: pointer;
        outline: none;
    }
    input[name="advnc_search"]{
        border-radius: 25px;
        background-color: transparent;
        color: rgb(12, 12, 12);
        border: 2px solid whitesmoke;
        width: 17vw;
        height: 6vh;
        padding: 2px;
        position: relative;
        cursor: pointer;
        font-size: 3vh;
        transition: background-color 1s ease;
        
    }
    input[name="advnc_search"]:hover{
        background-color: rgb(242, 247, 247);
    }
    input[name="reset"]{
        border-radius: 25px;
        background-color: transparent;
        color: rgb(12, 12, 12);
        border: 2px solid whitesmoke;
        width: 17vw;
        height: 6vh;
        padding: 2px;
        position: relative;
        cursor: pointer;
        margin-left: 5px;
        font-size: 3vh;
        transition: background-color 1s ease;
    }
    input[name="reset"]:hover{
        background-color: rgb(242, 247, 247);
    }
    .btn {
        background-color:#cc0000;
        width:20%;
        padding:5px 10px;
    }
  
   